.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;

}

.App-header {
  background-color: #8e8eef;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;

}

.Banner {
  text-align: cetner;
}


.Banner-header h4{
  height: 10px;
  margin-left: 20px;
  padding: 10px;
  color: white;
  justify-content: space-around;

}


.Banner-header {
  background-color: #8e8eef;
  height: 120px;
  padding: 20px;
  color: white;
}

.Banner-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(190deg); }
}
